.navbar{
    background: #fda856;
    margin-bottom: 0%; 
    margin-top: 0%; 
    font-size: 18px; 
    padding: 1%;
    
}
.dropdown:hover .dropdown-menu {
    display: block;
}
@media (min-width:767px){
    .navbar-nav{
        float: right;
    }
}

a{
    color: grey;
    font-size: 15px;
}

.dropdown-menu>li>a :hover{
    background: #fda856;
}