<!--<div class="content">
  <div class="design">
    <h2 class="text-center">Did You Know</h2>
    <ul class="slides">
      <input type="radio" name="radio-btn" id="img-1" checked />
      <li class="slide-container">
        <div class="slide">
          <div class=" item-in">
            <img class="dotted img-circle" [src]="diduKnow[0].Image" />
            <h5>{{diduKnow[0].Title}}</h5>
            <p>{{diduKnow[0].Description}}</p>
            <a> <span>See more</span></a>
          </div>
        </div>
      </li>

      <input type="radio" name="radio-btn" id="img-2" />
      <li class="slide-container">
        <div class="slide">
             <div class=" item-in">
            <img class="dotted img-circle" [src]="diduKnow[1].Image" />
            <h5>{{diduKnow[1].Title}}</h5>
            <p>{{diduKnow[1].Description}}</p>
            <a> <span>See more</span></a>
          </div>
        </div>
      </li>

      <input type="radio" name="radio-btn" id="img-3" />
      <li class="slide-container">
        <div class="slide">
             <div class=" item-in">
            <img class="dotted img-circle" [src]="diduKnow[2].Image" />
            <h5>{{diduKnow[2].Title}}</h5>
            <p>{{diduKnow[2].Description}}</p>
            <a> <span>See more</span></a>
          </div>
        </div>
      </li>

      <input type="radio" name="radio-btn" id="img-4" />
      <li class="slide-container">
        <div class="slide">
             <div class=" item-in">
            <img class="dotted img-circle" [src]="diduKnow[3].Image" />
            <h5>{{diduKnow[3].Title}}</h5>
            <p>{{diduKnow[3].Description}}</p>
            <a> <span>See more</span></a>
          </div>
        </div>
      </li>

      <li class="nav-dots">
        <label for="img-1" class="nav-dot" id="img-dot-1"></label>
        <label for="img-2" class="nav-dot" id="img-dot-2"></label>
        <label for="img-3" class="nav-dot" id="img-dot-3"></label>
        <label for="img-4" class="nav-dot" id="img-dot-4"></label>
      </li>
    </ul>
  </div>
</div>-->