.container .org .col img{
 width: 100px;
 height: 100px;
 float: left;
}

.container .org{
    margin-bottom: 5%
}
h3{
    font-family: 'CHAWP';
    color:#4e6d34;
    margin-bottom: 5%;
}
.container .org .col .details{
   margin-left: 13%

}

.container .org .col .details h5{
    color: orange
}

.container .org .col .details .url{
    color: lightskyblue;
}