   <div class="banner-bottom">
        <div class="container banner-cards">
            <div class="banner-bot-grids">
                <div class="col-md-3 banner-grid even artGroup slide" >
                    <div class="artwork" *ngFor="let z of zoos">
                        <div class="icon">
                            <i class="glyphicon glyphicon-time"> </i>
                        </div>
                        <div class="icon-text">
                            <h4>Openning Times</h4>
                        </div>
                        <div class="detail">
                            {{z.OpeningTime}}

                        </div>
                    </div>
                </div>
                <div class="col-md-3 banner-grid odd artGroup slide">
                    <div class="artwork"> 
                        <div class="icon">
                            <i class="glyphicon glyphicon-wrench"> </i>
                        </div>
                        <div class=" icon-text">
                            <h4>Tickets</h4>
                        </div>
                        <div class="detail">
                           See all Tickets from <a [routerLink]="['/Tickets']">Here</a>

                        </div>
                    </div>
                </div>

                <div class="col-md-3 banner-grid even artGroup slide">
                    <div class="artwork">
                        <div class="icon">
                            <i class="glyphicon glyphicon-briefcase"> </i>
                        </div>
                        <div class="icon-text">
                            <h4>Directions</h4>
                        </div>
                        <div class="detail">
                           Directions from <a [routerLink]="['/contact']">Here</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 banner-grid odd artGroup slide">
                    <div class="artwork">
                        <div class="icon">
                            <i class="glyphicon glyphicon-briefcase"> </i>
                        </div>
                        <div class="icon-text">
                            <h4>Zoo Map</h4>
                        </div>
                        <div class="detail">
                            Lorem ipsum dolor sit amet
                        </div>
                    </div>
                </div>

                <div class="col-md-3 banner-grid even artGroup slide last">
                    <div class="artwork">
                        <div class="icon">
                            <i class="glyphicon glyphicon-briefcase"> </i>
                        </div>
                        <div class="icon-text">
                            <h4>Next Feeding</h4>
                        </div>
                        <div class="detail">
                            Lorem ipsum dolor sit amet
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>